<!DOCTYPE html>
<html>
<head>
    <title>Search Ticker Symbols</title>
</head>
<body>
    <div style="text-align:center; margin-top:30vh; width:50vw; margin-left:25vw; font-size:24px">
        <form action="/search">
            Ticker Symbol:<br>
            <input type="text" name="name"><br>
        </form>

        <p>
            Enter the ticker for a publicly traded security to get its price. For example, to see the price of Microsoft, type MSFT and hit enter.
        </p>
    </div>
</body>
</html>